<div class="demo-devices-overlay">
  <div class="background"></div>
  <div class="message-box">
    <h1>Configure your player</h1>
    <p>This page will be available<br />once you have configured your device.</p>
    <br />
    <%= link_to "Get Started", :dashboard_home, :class=>"button" %>
  </div>
</div>
