<section>
  <a href="#" class="new">+</a>
  <h2>Content Management</h2>

  <ul>
    <li>Airfare</li>
    <li>Holidays Under R5 000</li>
    <li>Holidays Under R10 000</li>
    <li class="active">Holidays Under R15 000</li>
  </ul>
</section>

<div id="content">
  <h2>Holidays Under R5 000</h2>

  <div class="portlet active">
    <div class="links">
      <a href="#" class="edit disabled" title="Edit"></a>
      <a href="#" class="delete" title="Delete"></a>
    </div>

    <form>

      <div class="input-block">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" />
      </div>

      <div class="input-block">
        <label for="descriptiong">Description</label>
        <textarea id="description" name="description"></textarea>
      </div>

      <div class="input-block">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" />
      </div>

      <div class="input-block left">
        <label>Video</label>
        <button type="button" class="video"></button>
      </div>

      <div class="input-block right">
        <label>Image</label>
        <button type="button" class="image"></button>
      </div>

      <button type="button" class="cancel">Cancel</button>
      <button type="submit" class="proceed">Publish</button>

    </form>
  </div>

  <div class="portlet">
    <div class="links">
      <a href="#" class="edit" title="Edit"></a>
      <a href="#" class="delete" title="Delete"></a>
    </div>

    <form>

      <div class="input-block">
        <label>Title</label>
        <div class="input"></div>
      </div>

      <div class="input-block">
        <label>Description</label>
        <div class="textarea"></div>
      </div>

      <div class="input-block">
        <label>Price</label>
        <div class="input"></div>
      </div>

      <div class="input-block left">
        <label>Video</label>
        <div class="video"></div>
      </div>

      <div class="input-block right">
        <label>Image</label>
        <div class="image"></div>
      </div>

    </form>
  </div>
</div>
