<section class="grey">
  <h2 class="support">Support</h2>

  <h3>Your Support Team</h3>
  <ul>
    <li class="profile philip">Philip Joubert</li>
    <li class="profile gys">Gys Muller</li>
    <li class="profile david">David Rubin</li>
  </ul>
</section>

<div id="content" class="white">
  <h2>Contact Us</h2>

  <div class="portlet wide">
    <%= form_tag support_request_path, method: :post do %>

      <div class="input-block">
        <label for="subject">Subject</label>
        <%= text_field_tag 'support[subject]' %>
      </div>

      <div class="input-block">
        <label for="descriptiong">Description</label>
        <em>Please try to be as specific as possible when describing your problem</em>
        <%= text_area_tag 'support[message]' %>
      </div>

      <button type="submit" class="proceed">Submit</button>

      <div class="clear"></div>

    <% end %>
  </div>
</div>

<div id="grey-background"></div>
