<div class="auth-block">
  <h1><span>ADMO</span></h1>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="input-block">
      <label for="email" class="email">Email</label>
      <%= f.email_field :email, :autofocus => true, :placeholder=>'Email' %>
    </div>
    <div class="input-block">
      <label for="password" class="password">Password</label>
      <%= f.password_field :password, :class=>'email', :placeholder=>'Password' %>
    </div>
    <%= f.submit "Sign in", :class=>'button' %>
  <% end %>
</div>

