<div id="content" class="wide">
  <div class="toggle">
    <a href="#">Week</a>
    <a href="#" class="active">Month</a>
  </div>
  <h2 class="analytics">Analytics</h2>


  <div class="portlet narrow blue">
    <div class="amount people">3087</div>
    <p>Total number of interactions</p>
  </div>
  <div class="portlet narrow blue">
    <div class="amount person">151</div>
    <p>Average interactions per day</p>
  </div>
  <div class="portlet narrow blue">
    <div class="amount time">15:00</div>
    <p>Busiest time of the day</p>
  </div>
  <div class="portlet narrow blue">
    <div class="amount date">Sunday</div>
    <p>Busiest day of the week</p>
  </div>



  <div class="portlet wide">
    <h4>Number of Interactions per Day</h4>
  </div>



  <div class="portlet">
    <h4>Interactions by Day of the Week</h4>
  </div>

  <div class="portlet">
    <h4>Interactions During the Day</h4>
  </div>




  <div class="portlet third right">
    <h4>Conversion Rate</h4>
  </div>
  
  <div class="portlet third right">
    <h4>Store Popularity</h4>
    <div class="chart list">
      <div class="item">
        <span class="number">1</span>
        Canal Walk, <em>7489 interactions</em>
      </div>
      <div class="item">
        <span class="number">2</span>
        Sandton City, <em>6852 interactions</em>
      </div>
      <div class="item">
        <span class="number">3</span>
        Boardwalk, <em>5331 interactions</em>
      </div>
      <div class="item">
        <span class="number">4</span>
        Cavendish, <em>5012 interactions</em>
      </div>
      <div class="item">
        <span class="number">5</span>
        Rosebank, <em>2095 interactions</em>
      </div>
    </div>
  </div>

  <div class="portlet third">
    <h4>Destination Selected</h4>
  </div>

  <div class="portlet third">
    <h4>Duration of Interactions</h4>
    <div class="chart stacked-bar">
      <div class="light-grey" style="width:17%">0-10</div>
      <div class="grey" style="width:28%">11-30 sec</div>
      <div class="blue" style="width:40%">31-60 sec</div>
      <div class="light-grey" style="width:15%">60+</div>
    </div>
  </div>

</div>
