<div id="content" class="wide white">
  <div id="devices">
    <h2 class="devices">Devices</h2>
    <div class="devices-list">
      <table>
        <col style="width:200px"><col style="width:185px"><col style="width:200px"><col style="width:200px">
        <thead>
          <tr><th>Name</th>  <th>App</th>  <th>Last Updated</th>  <th>Status</th>
        </thead>
        <tbody>
          <tr><td>Admo-1</td>  <td>Movies</td>  <td>23/10/2013</td>  <td>Online</td>  <td class="action"><a href="" class="button">Publish</a></td>
          <tr><td>Admo-2</td>  <td>Titan</td>  <td>23/10/2013</td>  <td>Online</td>  <td class="action"><a href="" class="button">Publish</a></td>
          <tr><td>Admo-3</td>  <td>Beast</td>  <td>23/10/2013</td>  <td>Online</td>  <td class="action"><a href="" class="button">Publish</a></td>
        </tbody>
      </table>
    </div>
  </div>
</div>