<section>
  <a href="#" class="new">+</a>
  <h2>Locations</h2>

  <ul>
    <li>
      <span class="number">1</span>
      <strong>Canal Walk</strong>
      <em>Western Cape, <strong>LIVE</strong></em>
    </li>

    <li class="active">
      <span class="number">2</span>
      <strong>Sandton City</strong>
      <em>Gauteng, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">1</span>
      <strong>Boardwalk</strong>
      <em>Eastern Cape, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">2</span>
      <strong>Cavendish</strong>
      <em>Western Cape, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">1</span>
      <strong>Rosebank</strong>
      <em>Gauteng, <strong>LIVE</strong></em>
    </li>
  </ul>
</section>

<div id="content">
  <h2>Sandton City</h2>
</div>
