<section>
  <a href="#" class="new">+</a>
  <h2 class="location">Locations</h2>

  <ul>
    <li>
      <span class="number">1</span>
      <strong>Canal Walk</strong>
      <em>Western Cape, <strong>LIVE</strong></em>
    </li>

    <li class="active">
      <span class="number">2</span>
      <strong>Sandton City</strong>
      <em>Gauteng, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">1</span>
      <strong>Boardwalk</strong>
      <em>Eastern Cape, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">2</span>
      <strong>Cavendish</strong>
      <em>Western Cape, <strong>LIVE</strong></em>
    </li>

    <li>
      <span class="number">1</span>
      <strong>Rosebank</strong>
      <em>Gauteng, <strong>LIVE</strong></em>
    </li>
  </ul>
</section>

<div id="content">
  <h2>Sandton City</h2>

  <div class="portlet wide">
    <div class="map">MAP</div>

    <div class="info">
      <h3>Unit 1</h3>

      <div class="tel">t | <a href="tel:0219879821">021 987 9821</a></div>

      <ul class="status">
        <li class="active online">Online</li>
        <li class="active up-to-date">Up to date</li>
      </ul>

      <p>
        Screenshot last updated<br />
        <em>15 minutes ago</em>
      </p>
    </div>

    <div class="screenshot"><img src="<%= image_path('demo-screenshot.png') %>" width="601" height="339" /></div>

  </div>

  <div class="portlet wide">
    <div class="map">MAP</div>

    <div class="info">
      <h3>Unit 2</h3>

      <div class="tel">t | <a href="tel:0219879821">021 987 9821</a></div>

      <ul class="status">
        <li class="online">Offline</li>
        <li class="up-to-date">Not up to date</li>
      </ul>

      <p>
        Screenshot last updated<br />
        <em>15 minutes ago</em>
      </p>
    </div>

    <div class="screenshot"><img src="<%= image_path('demo-screenshot.png') %>" width="601" height="339" /></div>

  </div>
</div>
