/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require codemirror
  *= require codemirror/themes/night
 *= require codemirror/addons/lint/lint
 *= require_tree .
 */


body {
  background-color: #999;
  font-family: Tahoma, sans-serif;
  color: #444;
}

#controls {
  border-radius: 40px;
  background-color: #eee;
  height:970px;
  margin: 20px;
  padding: 30px;
  box-shadow: 6px 10px 10px rgba(6,6,6,0.5)
}
.buttons {
  height: 800px;
}

h2 {
  font-size: 70pt;
  text-align: center;
  margin: 5px 0 30px 0;
}

.button {
  padding:20px;
  margin: 10px;
  border-radius: 50px;
  border-color: #999;
  border-width: 4px;
  width: 100%;
  height: 23%;
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0;
  color: #444;
  background: -webkit-linear-gradient(top, #fff, #bbb);
}

.out-of-order {
display: none;
}


/**Devise*/
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/*Class added to selected links*/
.selected{
  background-color: #dddddd;
}
