#apps {

.arrow {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  margin-left: 60px;
  margin-top: -2px;
  opacity: 0;
}

.app.active .arrow {
  opacity: 1;
}

ul {
  padding-left: 20px;
  li {
   width: 300px;
   height: 225px;
   background: #fff;
   list-style-type: none;
   display:inline-block;
   box-sizing: border-box;
   padding: 20px;
   margin: 12px 10px;
   text-align: center;
   border-top: 4px solid transparent;
   &.disabled {
     h3 {
       color: #EEE;
     }
   }
   &.active {
    border-top: 4px solid $blue;
   }
   &:hover.app {
    border-top: 4px solid $blue;
   }
   h3 {
     color: $blue;
     text-align: left;
   }
   img {
     border: 1px solid #eee;
   }
   &.details {
      display: none;
     width: 950px;
     height: 350px;
     background: #fff;
     box-sizing:border-box;
     padding: 20px;
     text-align: left;
     position: relative;
     .admo-tv {
        width: 413px;
        margin-right: 30px;
        height: 297px;
        border: none;
        background-image: image-url("apps/device.png");
        position: relative;
        float:left;
        img {
          position: absolute;
          top: 38px;
          left: 10px;
          border: none;
        }
      }
      .description {
        width: 440px;
        float: left;
        position: relative;
        h2 {
          background-position: 0px;
          padding-left: 20px;
          color: $blue;
          &.catalog { background-image: image-url("apps/catalog-icon.png"); }
          &.game { background-image: image-url("apps/game-icon.png"); }
          &.linear { background-image: image-url("apps/linear-icon.png"); }
        }
        p {
          line-height: 140%;
        }
        span {
          background-repeat: no-repeat;
          padding-left: 25px;
          margin-right: 30px;
          &.avatar { background-image: image-url("apps/avatar.png"); }
          &.online { background-image: image-url("apps/online-component.png"); }
        }
        .button {
          position: absolute;
          top: 15px;
          right: 0;
        }
      }
    }
  }
}

}
