/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

/***** Sizes *****/
$headerHeight: 75px;
$pageWidth: 1150px;
$navWidth: round($pageWidth * 0.12);
$activeWidth: 12px;

$itemHeight: round($navWidth * 0.4);
$navHeight: $itemHeight * 2;
$sectionWidth: round($pageWidth * 0.27);
$contentWidth: $pageWidth - $navWidth - $sectionWidth;

$portletWidth: floor($contentWidth / 2);
$portletInnerWidth: $portletWidth - 85px;

$wideContentWidth: $pageWidth - $navWidth;

$widePortletWidth: $contentWidth;
$widePortletInnerWidth: $widePortletWidth - 100px;

$narrowPortletWidth: floor($wideContentWidth / 4);
$narrowPortletInnerWidth: $narrowPortletWidth - 58px;

/***** Fonts *****/
@font-face{
  font-family:"Avenir LT W01 55 Roman";
  src:url(font-path("avenir-lt-w01-55-roman.eot")+ "?#iefix");
  src:url(font-path("avenir-lt-w01-55-roman.eot")+ "?#iefix") format("eot"),
      url(font-path("avenir-lt-w01-55-roman.woff")) format("woff"),
      url(font-path("avenir-lt-w01-55-roman.ttf")) format("truetype"),
      url(font-path("avenir-lt-w01-55-roman.svg")+ "#avenir-lt-w01-55-roman") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 85 Heavy";
  src:url(font-path("avenir-lt-w01-85-roman.eot")+ "?#iefix");
  src:url(font-path("avenir-lt-w01-85-roman.eot")+ "?#iefix") format("eot"),
      url(font-path("avenir-lt-w01-85-roman.woff")) format("woff"),
      url(font-path("avenir-lt-w01-85-roman.ttf")) format("truetype"),
      url(font-path("avenir-lt-w01-85-roman.svg")+ "#avenir-lt-w01-85-roman") format("svg");
}

$defaultFontFamily: 'Avenir LT W01 55 Roman', Futura, Helvetica, sans-serif;
$heavyFontFamily: 'Avenir LT W01 85 Heavy', Futura, Helvetica, sans-serif;


/***** General styles *****/
button {
  cursor: pointer;
  font-family: $defaultFontFamily;
}
a {
  text-decoration: none;
  color: $grey;
}
input, textarea {
  font-family: $defaultFontFamily;

  &:focus {
    outline: 2px solid $blue;
  }
}
.clear {
  clear:both;
}

@mixin transition($property, $time:150ms) {
  transition: $property $time;
  -webkit-transition: $property $time;
}

@mixin rotate($angle) {
  transform: rotate($angle);
  -webkit-transform: rotate($angle);
}

/***** Body *****/
html, body {
  margin: 0;
  padding: 0;
  font-family: $defaultFontFamily;
  font-size: 14px;
  color: $grey;
}
body {
  background-color: $white;
}
body.login {
  background-color: $backgroundgrey !important;
}

/***** Login *****/
.login-box {
  width: 600px;
  height: 320px;
  position: absolute;
  left: 0; top: 100px; right: 0; bottom: 0;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  background: $white;
  border-top: 5px solid $blue;
  h1 {
      background: image-url("logo-login.png") center no-repeat;
      width: 150px;
      height: 36px;
      margin-top: 0;
      span {
        display: none;
      }
    }
  h2 {
    color: $blue;
    font-size: 15px;
    line-height: 140%;
  }
  .auth-block {
    background: $white;
    width: 270px;
    height: 250px;
    border-right: 1px solid #e6e7e8;
    float:left;
    div.input-block {
      clear: both;
      margin: 15px 0;
      height: 42px;

      label {
        background: $lightgrey center no-repeat;
        height: 42px;
        width: 42px;
        float: left;
        overflow: hidden;
        text-indent: 100px;

        &.email { background-image: image-url("login-email.png"); }
        &.password { background-image: image-url("login-password.png"); }
      }
      input {
        background-color: $backgroundgrey;
        border: none;
        height: 40px;
        width: 178px;
        float: left;
        padding: 2px 10px 0 10px;
        line-height: 40px;
        font-size: 14px;
      }
    }

    .button {
      background: $blue;
      color: $white;
      border: none;
      width: 200px;
      height: 42px;
      line-height: 40px;
      font-size: 14px;
    }
  }
  .hero {
    width: 265px;
    height: 220px;
    float:left;
    box-sizing: border-box;
    padding-left: 30px;
    background-image: image-url("login-laptop.png");
    background-repeat: no-repeat;
    background-position: 40px 80px;
  }
}

header {
  background-color: $darkgrey;
  height: $headerHeight;

  .wrapper {
    width: $pageWidth;
    margin: 0 auto;

    h1 {
      background: image-url("logo.png") center no-repeat;
      width: 200px;
      height: 75px;
      float: left;
      margin: 0 0 0 20px;
      span {
        display: none;
      }
    }

    .profile {
      float: right;
      min-height: 35px;
      line-height: 40px;
      width: 120px;
      margin: 20px 20px 20px 0;
      cursor: pointer;
      position: relative;
      border: 1px solid transparent;
      font-size: 14px;

      a {
        color: $white;
        display: block;
        padding: 0 10px;

        @include transition(color);

        &:hover {
          color: $white;

        }

        &.expand {
          color: $midgrey;

          .icon {
            background: image-url("person-small.png") right no-repeat;
            width: 15px;
            height: 15px;
            float: right;
            margin: 8px 5px 0 0;
            opacity: 0.3;
            @include transition(opacity);
          }
        }
      }

      ul {
        display: none;
        width: 240px;
      }

      &.expanded {
        z-index: 1000;

        .expand {
          color: $white;
          .icon {
            opacity: 1;
          }
        }

        ul {
          display: block;
          list-style: none;
          margin: 0 0 0 -120px;
          padding: 0;
          background-color: $blue;
          position: relative;
          // &:after {
          //   content: '';
          //   // background-color: $blue;
          //   color: $blue;
          //   width: 0px;
          //   height: 0px;
          //   position: absolute;
          //   right: 15px; top: -8px;
          //   // @include rotate(45deg);
          //   border-left: 8px solid transparent;
          //   border-right: 8px solid transparent;
          //   border-bottom: 8px solid $blue;
          // }

          li {
            text-align: left;
            a:hover {
              background-color: #0E7AC4;
            }
          }

          li:nth-child(1){
            &:before {
              content: '';
              // background-color: $blue;
              color: $blue;
              width: 0px;
              height: 0px;
              position: absolute;
              right: 15px; top: -8px;
              // @include rotate(45deg);
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid $blue;
            }
          }
          li:nth-child(1):hover{
            &:before {
              border-bottom: 8px solid #0E7AC4;
            }
          }
        }
      }
    }
  }
}

#page {
  width: $pageWidth;
  margin: 0 auto;
  position: fixed;
  top: $headerHeight; bottom: 0; left: 0; right: 0;
  background-color: $white;
}

nav {
  background-color: $blue;
  width: $navWidth - $activeWidth;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 2;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;


    li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $backgroundgrey;
      text-align: center;

      a {
        display: block;
        width: $navWidth - $activeWidth*2;
        height: $navHeight - 3px;
        color: $white;
        text-transform: uppercase;
        font-size: 13px;
        position: relative;
        padding: 1px 0 1px $activeWidth;

        @include transition(background-color);

        &::before {
          content: '';
          width: $activeWidth;
          background-color: $blue;
          position: absolute;
          right: -$activeWidth;
          top: 0; bottom: 0;
          @include transition(background-color);
        }
        &.active::before, &.active::after {
          content: '';
          width: $activeWidth;
          height: ($navHeight - 1px)/2 - $activeWidth;
          background-color: $blue;
          position: absolute;
          right: -$activeWidth;
          @include transition(background-color);
        }
        &.active::before { top: 0; }
        &.active::after { bottom: 0; }

        .icon {
          width: 30px;
          height: 30px;
          display: block;
          margin: 28px auto 10px auto;
          background: center no-repeat;
        }

        &.active .icon::before {
          content: '';
          border-width: $activeWidth $activeWidth $activeWidth 0;
          border-style: solid;
          border-color: $blue transparent $blue $blue;
          width: 0;
          height: 0;
          position: absolute;
          margin: auto;
          top: 0; bottom: 0; right: -$activeWidth;
          @include transition(border-color);
        }

        &:hover {
          background-color: $lightblue;
          &::before, &::after {
            background-color: $lightblue;
          }
          .icon::before {
            border-color: $lightblue transparent $lightblue $lightblue;
          }
        }

        &.home .icon { background-image: image-url("nav-home.png") }
        &.apps .icon { background-image: image-url("nav-apps.png") }
        &.devices .icon { background-image: image-url("nav-devices.png") }
        &.analytics .icon { background-image: image-url("nav-analytics.png") }
        &.support .icon { background-image: image-url("nav-support.png") }
      }
    }
  }
  &::after {
    content: '';
    display: block;
    background-color: $blue;
    position: absolute;
    top: -1 + 5 * $navHeight;
    bottom: 0;
    left: 0;
    right: -$activeWidth;
  }
}

section {
  position: absolute;
  left: $navWidth - $activeWidth; top: 0; bottom: 0;
  width: $sectionWidth + $activeWidth;
  background-color: $white;

  &.grey {
    background-color: $backgroundgrey;
  }

  a.new {
    float: right;
    height: $itemHeight - 1px;
    line-height: $itemHeight - 1px;
    width: $itemHeight;
    text-align: center;
    color: $lightmidgrey;
    font-size: 22px;
    font-family: $heavyFontFamily;
    border-left: 1px solid $lightgrey2;
    border-bottom: 1px solid $lightgrey2;
    @include transition(background-color);

    &:hover {
      background-color: $lightbackgroundgrey;
    }
  }
  h2 {
    height: $itemHeight - 3px; /* 2px for padding, 1px for border */
    line-height: $itemHeight - 3px;
    margin: 0;
    padding: 2px 30px 0 (30px + $activeWidth);
    color: $lightmidgrey;
    font-size: 16px;
    border-bottom: 1px solid $lightgrey2;
    text-indent: 20px;
    background-repeat: no-repeat;
    background-position: 15px + $activeWidth;
    background-color: $white;

    &.location { background-image: image-url("location.png"); }
    &.content { background-image: image-url("content.png"); }
    &.analytics { background-image: image-url("analytics.png"); }
    &.support { background-image: image-url("support.png"); }
  }

  h3 {
    margin: 25px;
    font-size: 14px;
    color: $darkgrey;
    padding-left: $activeWidth;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      height: $itemHeight;
      line-height: $itemHeight;
      font-size: 14px;

      a {
        height: $itemHeight - 28px;
        line-height: $itemHeight - 28px;
        padding: 14px 25px 14px (25px + $activeWidth);
        display: block;
        cursor: pointer;
        @include transition(background-color);

        &:hover {
          background-color: $lightbackgroundgrey;
        }
      }
      &.active {
        a {
          background-color: $backgroundgrey;
        }
      }

      .number {
        float: right;
        width: 15px;
        height: 15px;
        margin-top: ($itemHeight - 28px - 15px) / 2;
        border: 1px solid $lightgrey2;
        border-radius: 2px;
        color: $lightmidgrey;
        font-size: 9px;
        line-height: 15px;
        text-align: center;
      }

      strong {
        line-height: 1;
        display: block;
        font-size: 14px;
        font-weight: normal;
        color: $middarkgrey;
      }
      em {
        line-height: 1;
        display: block;
        font-size: 11px;
        font-style: normal;
        color: $lightgrey3;
        margin-top: 3px;

        strong {
          display: inline;
          color: $blue;
          font-size: 11px;
          &.offline {
            color: #e86c6d;
          }
        }
      }


      &.profile {
        height: 52px;
        line-height: 52px;
        padding: 14px 25px 14px (25px + $activeWidth);

        &:before {
          content: '';
          background-color: $backgroundgrey;
          width: 50px;
          height: 50px;
          border: 1px solid $white;
          border-radius: 50%;
          float: left;
          margin-right: 20px;
          background: center no-repeat;
        }

        &.linsen:before { background-image: image-url("linsen.png"); }
        &.philip:before { background-image: image-url("philip.png"); }
        &.david:before { background-image: image-url("david.png"); }
        &.gys:before { background-image: image-url("gys.png"); }
      }
    }
  }
}

#content {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  padding-bottom: 30px;
  width: $contentWidth;
  background-color: $backgroundgrey;
  overflow: auto;

  &.wide {
    width: $wideContentWidth;
    padding-left: $activeWidth;

    h2 {
      border-top-color: transparent;
      background-color: $white;
      color: $lightmidgrey;
      text-indent: 20px;
      background-repeat: no-repeat;
      background-position: 15px;
      background-color: $white;

      &.location { background-image: image-url("location.png"); }
      &.devices { background-image: image-url("devices.png"); }
      &.get-started { background-image: image-url("devices.png"); }
      &.apps { background-image: image-url("apps.png"); }
      &.content { background-image: image-url("content.png"); }
      &.analytics { background-image: image-url("analytics.png"); }
      &.support { background-image: image-url("support.png"); }
    }

    .portlet {
      width: floor($wideContentWidth / 2) - 85px;

      &.right {
        float: right;
        margin-right: 30px;
        margin-left: 0;
      }
      &.third {
        width: floor($wideContentWidth / 3) - 80px;
      }
      &.two-thirds {
        width: 2*floor($wideContentWidth / 3) - 90px;
      }
      &.wide {
        width: $wideContentWidth - 100px;
      }
    }
  }

  .toggle {
    float: right;
    border-radius: 4px;
    background-color: $backgroundgrey;
    overflow: hidden;
    font-size: 12px;
    text-transform: uppercase;
    margin: 15px 30px;

    a {
      color: $grey;
      display: inline-block;
      padding: 4px 20px 3px 20px;

      &.active {
        background-color: $lightgrey2;
        color: $white;
      }
    }
  }

  h2 {
    height: $itemHeight - 6px;
    line-height: $itemHeight - 6px;
    margin: 0;
    padding: 0 30px;
    color: $darkgrey;
    font-size: 16px;
    border-top: 5px solid $blue;
    border-bottom: 1px solid $lightgrey2;
  }

  .portlet {
    width: $portletInnerWidth;
    float: left;
    background-color: $white;
    margin: 30px 0 0 30px;
    padding: 20px;
    border-top: 5px solid $white;

    &.wide {
      width: $widePortletInnerWidth;
    }

    &.blue {
      border-color: $blue;
      background-color: $blue;
      color: $white;
    }

    &.narrow {
      padding: 10px;
      width: $narrowPortletInnerWidth;
      text-align: center;

      .amount {
        font-size: 26px;
        background: left no-repeat;
        display: inline-block;
        padding: 0 5px 0 37px;

        &.people { background-image: image-url("people.png"); }
        &.person { background-image: image-url("person.png"); }
        &.time { background-image: image-url("time.png"); }
        &.date { background-image: image-url("date.png"); }
      }
      p {
        font-size: 13px;
      }
    }

    &.active {
      border-top-color: $blue;
    }

    h3 {
      font-size: 16px;
      padding-bottom: 15px;
      border-bottom: 1px solid $lightgrey2;
      margin: 0 0 15px 0;
    }
    h4 {
      font-size: 14px;
      padding: 0;
      margin: 0;
      color: $darkgrey;
    }
    .info {
      width: $widePortletInnerWidth - 170px;
    }

    .links {
      text-align: right;
      height: 32px;
      margin: 10px 0;

      a {
        height: 30px;
        width: 30px;
        border: 1px solid $lightgrey;
        border-radius: 2px;
        margin-left: 3px;
        display: inline-block;
        background: no-repeat center;
        @include transition(background-color);

        &.edit { background-image: image-url("edit.png") }
        &.delete { background-image: image-url("delete.png") }

        &.disabled { -webkit-filter: grayscale(100%); }

        &:hover {
          background-color: $lightbackgroundgrey;
        }
      }
    }

    label {
      display: block;
      font-size: 14px;
    }

    input, textarea, .input, .textarea {
      width: $portletInnerWidth - 20px;
      background-color: $backgroundgrey;
      border: none;
      font-size: 16px;
      margin: 5px 0 15px 0;
    }
    input, .input {
      height: 35px;
      padding: 0 10px;
    }
    textarea, .textarea {
      height: 3*35px;
      padding: 5px 10px;
    }
    textarea {
      margin-bottom: 10px;
    }

    &.wide {
      input, textarea, .input, .textarea {
        width: $widePortletInnerWidth - 20px;
      }
    }

    .input-block.left, .input-block.right {
      width: $portletInnerWidth / 2 - 10px;

      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }


    .video, .image {
      position: relative;
      width: 100%;
      height: 100px;
      border: none;
      padding: 0;
      margin: 5px 0 15px 0;
      background: $backgroundgrey no-repeat center;

      .file-input{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .progress {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background: $backgroundgrey;
        .bar {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          background: $blue;
        }
      }


      &.present { background-size: cover; }

      &.image { background-image: image-url("image.png") }
      &.video { background-image: image-url("video.png") }
    }

    button.cancel, button.proceed {
      width: $portletInnerWidth / 2 - 10px;
      border: none;
      color: $white;
      font-size: 14px;
      height: 35px;
      margin-top: 10px;

      &.cancel {
        background-color: $lightmidgrey;
        float: left;
      }
      &.proceed {
        background-color: $blue;
        float: right;
      }
    }

    .screenshot {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1);
      border-radius: 3px;
    }

    .map, #map {
      float: right;
      background-color: $lightgrey;
      width: 150px;
      height: 150px;
      margin: 0 0 20px 20px;
      border-radius: 3px;
      overflow: hidden;
    }

    .status {
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0;
      font-size: 14px;

      li {
        padding-left: 30px;
        margin: 8px 0;
        background: top left no-repeat;

        &.online { background-image: image-url("online.png"); }
        &.up-to-date { background-image: image-url("up-to-date.png"); }

        &.active {
          color: $blue;
        }
        &:not(.active) {
          -webkit-filter: grayscale(100%);
        }
      }
    }

    .tel {
      font-size: 14px;
      float: right;

      a {
        color: $grey;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.3;
      margin: 0;
    }
    em {
      font-size: 14px;
      font-style: normal;
      color: $lightmidgrey;
    }
  }

  &.white {
    background-color: $white;

    .portlet {
      border: 1px solid $lightgrey2;
    }
  }
}

.chart {
  margin-top: 15px;

  &.donut {
    float: left;
    width: 48%;
    text-align: center;
    padding: 20px 0 13px 0;

    p {
      font-size: 12px;
    }
    svg {
      margin-bottom: 10px;
    }
    .arc path {
      stroke: #fff;
    }
    text {
      fill: $lightgrey;
      font-size: 18px;
    }
  }

  &.list {
    margin-left: 9px;
    border-left: 1px solid $blue;

    .item {
      margin: 20px 0;
      //Here so the lists don't flow over to a new line.
      white-space: nowrap;

      &:last-child {
        margin-bottom: 0;
      }

      .number {
        background-color: $blue;
        color: $white;
        font-size: 10px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        position: relative;
        left: -9px;
        margin-right: 5px;
      }

      em {
        color: $blue !important;
        font-size: 13px !important;
      }
    }
  }

  &.funnel {
    padding: 5px 0 0 0;

    line {
      shape-rendering: crispEdges;
    }
  }

  &.stacked-bar {
    height: 23px;
    overflow: hidden;
    text-align: center;
    font-size: 11px;

    div {
      float: left;
      height: 23px;
      line-height: 23px;

      &.light-grey {
        background-color: $backgroundgrey;
      }
      &.grey {
        background-color: $lightgrey2;
        color: $white;
      }
      &.blue {
        background-color: $blue;
        color: $white;
      }
    }
  }

  &.bar {
    position: relative;

    .bar {
      fill: $lightgrey;

      @include transition(fill);

      &.sunday {
        fill: $lightgrey2;
      }
    }
    &:hover .bar.hover {
      fill: $blue;
    }

    .axis text {
      fill: $grey;
      font-size: 11px;
    }
    .y.axis path {
      display: none;
    }
    .x.axis path, .x.axis line {
      fill: none;
      stroke: $midgrey;
      shape-rendering: crispEdges;
    }
  }

  .tooltip {
    background: $white;
    border: 1px solid $lightgrey2;
    position: absolute;
    padding: 10px 15px;
    text-align: center;
    color: $blue;
    line-height: 1.2;
    width: 80px;
    height: 30px;
    margin: -55px -3px;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;

    @include transition(opacity, 250ms);

    strong {
      font-weight: normal;
      font-family: $heavyFontFamily;
    }
    em {
      font-size: 11px !important;
    }

    span span {
      position: relative;
      top: 2px;

      &.upside-down {
        @include rotate(180deg);
        display: inline-block;
        top: -3px;
      }
    }

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      margin: auto;
      @include rotate(45deg);
      background-color: $white;
      border-style: solid;
      border-color: $lightgrey2;
      border-width: 0 1px 1px 0;
    }
  }

  &:hover .tooltip {
    opacity: 1;
  }
}

#grey-background {
  background-color: $backgroundgrey;
  position: fixed;
  right: 0;
  top: $headerHeight;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

a.button, button {
  background: $blue;
  color: #fff;
  padding: 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

a.button:hover {
  background-color: #0E7AC4;
}

