#devices{
  .devices-list{
    margin-left: 10px;
    table {
      border-collapse: collapse;
      border: none;
      caption {
      font-size: larger; margin: 1em auto;
      }
      th, td {
        padding: 12px;
      }
      td.button {
        width: 250px;
        text-align: right;
      }
      th, thead {
        text-align: left;
        background: #fff;
        color: $blue;
        border-bottom: 1px solid #eee;
      }
      tr:hover {
        background: #eee;
      }
      td {
        border-bottom: 1px solid #eee;
      }
      a {
        background: $blue;
        color: #fff;
        padding: 6px 20px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
    }
  }
}