#devices{
  .devices-list{
    margin-left: 10px;
    table {
      border-collapse: collapse;
      border: none;
      caption {
      font-size: larger; margin: 1em auto;
      }
      th, td {
        padding: 12px;
      }
      td.action {
        width: 100px;
        text-align: right;
      }
      th, thead {
        text-align: left;
        background: #fff;
        color: $blue;
        border-bottom: 1px solid #eee;
      }
      tr:hover {
        background: #eee;
      }
      td {
        border-bottom: 1px solid #eee;
      }
      #map {
        float: right;
        background-color: $lightgrey;
        width: 150px;
        height: 150px;
        margin: 0 0 20px 20px;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
}

.demo-devices-overlay {
  text-align: center;
  .background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.4;
  }

  .message-box {
    position: absolute;
    width: 400px;
    height: 250px;
    margin: auto;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    background-color: black;
    border-radius: 5px;
    opacity: 0.6;
    color: white;

    h1 {
      width: 80%;
      margin: auto;
      padding-top: 30px;
    }

    p {
      width: 80%;
      margin: auto;
      margin-top: 20px;
      font-size: 18px;
    }

    .button {
      position: absolute;
      top: 0px; bottom: 0px; left: 0px; right: 0px;
      margin: auto;
      margin-top: 160px;
      height: 20px;
      width: 100px;
      display: block;
      padding-top: 10px;
    }
  }
}
