#templates {
  .template {
    .coming-soon {
      display: none;
      position: absolute;
      width: 280px;
      height: 145px;
      top: -4px;
      padding: 80px 10px 0px 10px;
      margin-top: 0px;
      left: 0px;
      font-size: 20px;
      text-align: center;
      background-color: lightgray;
      opacity: 0.7;
      color: white;
      &:after {
        content: "More templates available soon..."
      }
    }

    &.disabled:hover {
      .coming-soon {
        display: block;
      }
    }
  }

  .template-row {
    padding-left: 20px;

    .template {
      position: relative;
      width: 300px;
      height: 225px;
      background: #fff;
      display:inline-block;
      box-sizing: border-box;
      padding: 20px;
      margin: 12px 10px;
      text-align: center;
      border-top: 4px solid transparent;

      &:after {
        position: absolute;
        bottom: -15px;
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        opacity: 0;
      }
     &.disabled {
       h3 {
         color: #EEE;
       }
     }
     &.active {
      border-top: 4px solid $blue;

      &.disabled {
        border-top: 4px solid white;

        &:after {
          opacity: 0;
        }
      }

      &:after {
        opacity: 1;
      }
     }

     &:hover.template {
      border-top: 4px solid $blue;

      &.disabled {
        border-top: 4px solid white;
      }
     }
     h3 {
       color: $blue;
       text-align: left;
     }
     img {
       border: 1px solid #eee;
     }
    }

    .details {
      display: none;
      width: 950px;
      height: 350px;
      background: #fff;
      box-sizing:border-box;
      padding: 20px;
      margin: 12px 10px;
      text-align: left;
      position: relative;
     .admo-tv {
        width: 413px;
        margin-right: 30px;
        height: 297px;
        border: none;
        background-image: image-url("apps/device.png");
        position: relative;
        float:left;
        img {
          position: absolute;
          top: 38px;
          left: 10px;
          border: none;
        }
      }
      .description {
        width: 440px;
        float: left;
        position: relative;
        h2 {
          background-position: 0px;
          padding-left: 20px;
          color: $blue;
          &.catalog { background-image: image-url("apps/catalog-icon.png"); }
          &.game { background-image: image-url("apps/game-icon.png"); }
          &.linear { background-image: image-url("apps/linear-icon.png"); }
        }
        p {
          line-height: 140%;
        }
        span {
          background-repeat: no-repeat;
          padding-left: 25px;
          margin-right: 30px;
          &.avatar { background-image: image-url("apps/avatar.png"); }
          &.online { background-image: image-url("apps/online-component.png"); }
        }
        .button {
          position: absolute;
          top: 15px;
          right: 0;
        }
      }
    }
  }
}
