#get-started {
  .tutorial {
    width: 1024px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      float: left;
      border-right: 1px solid #d1d2d4;
      height: 46px;
      img {
        margin-right: 7px;
        vertical-align:middle;
      }
      a {
        vertical-align:middle;
        line-height: 40px;
        display: block;
        width: 140px;
        color: $blue;
        padding-left: 30px;
        border-top: 5px solid transparent;
        border-bottom: 1px solid #d1d2d4;
        &:hover {
          background: #eee;
        }
        &.selected {
          border-top: 4px solid $blue;
          padding-bottom: 1px;
          cursor: default;
          padding-bottom: 2px;
          border-bottom: none;
        }
      }
    }
    .tab-content {
      height: 520px;
    }
    #tabs-1 {
      padding: 10px 10px 8px 10px;
      .block-gray {
        background: #eee;
        width: 100%;
        height: 300px;
        .image, .copy {
          float: left;
        }
        .image {
          width: 250px;
          text-align: center;
        }
      }
    }
    #tabs-2 {
      position: relative;
      text-align: center;
      img {
        margin-top: 40px;
      }
    }
    #tabs-3 {
      text-align: center;
    }

    #tabs-4 {
      text-align: center;

    }
  }
}